.jumbotron {
  background: url(https://media.giphy.com/media/12pJ8OxSWwO86Y/giphy.gif);
  background-position: center;
  background-size: 35%;
  opacity: .8;
}

#jumbText {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.625);
  height: auto;
  word-wrap: break-word; 
}

#btn-submit {
  margin-top: 20px;
  width: 100%;
}

body {
  background-color: rgba(218, 255, 220, 0.523);
}
